
@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/index")


<h2>Index</h2>
<div data-bind="foreach: reports">
    @Html.Partial("~/Views/Report/ReportPartial.cshtml")
</div>

@Styles.Render("~/Content/reportPartial")
@Scripts.Render("~/bundles/reportPartial")




